.first-quiz {
  background-color: #005fbd;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.one_arts {
  width: 60%;
  margin-bottom: 2vh;
}

.first-quiz__window-content {
  font-size: 2.3vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
