.credit-screen {
  background-image: url("../../assets/images/windows-xp-wallpaper.png"); /* 이미지 경로 교체 */
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.credit-screen__window-content {
  font-size: 2.3vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.credit-screen__one_arts {
  width: 90%;
  margin-bottom: 2vh;
}
