.start-screen {
  background-color: #731ee2;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.logo {
  width: 80%;
  height: auto;
  pointer-events: none;
}
