.pre-fade {
  opacity: 0;
}
.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.glitch-out {
  animation: glitch 0.5s steps(2, end), fadeOut 0.5s ease forwards;
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes glitch {
  0% {
    transform: translate(0, 0) skew(0deg);
  }
  15% {
    transform: translate(-2px, 2px) skew(2deg);
  }
  30% {
    transform: translate(2px, -2px) skew(-2deg);
  }
  45% {
    transform: translate(-2px, -2px) skew(2deg);
  }
  60% {
    transform: translate(2px, 2px) skew(-2deg);
  }
  75% {
    transform: translate(-1px, 1px) skew(1deg);
  }
  100% {
    transform: scale(0.9) rotate(-1deg) skew(0deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
