h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

.warning {
  font-size: 3vh;
  padding: 5px 0 2vh;
}

.date,
.time {
  font-family: var(--font-digitalTime);
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.date {
  font-size: 4vh;
  width: 10ch;
}

.hoursMinutes {
  flex-grow: 1;
  text-align: right;
  width: 5ch;
  font-size: 8vh;
}

.seconds {
  margin-left: 10px;
  font-size: 4vh;
  flex-grow: 0.5;
  width: 2ch;
  text-align: left;
}

.corner-text {
  font-family: var(--font-game);
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2.3vh;
  color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  margin: 0;
  padding: 0;
}

.vaccine-alert {
  font-family: var(--font-game);
}

.vaccine-alert:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 black;
}

.vaccine-alert__start {
  font-size: 5vh;
  color: white;
  -webkit-text-stroke: 1px black;
}

.vaccine-alert__vaccinate {
  font-size: 7vh;
  -webkit-text-stroke: 1px black;
  color: #63cffa;
}

.time-mono {
  display: flex;
  justify-content: center;
  letter-spacing: 0em;
}

.time-mono span {
  display: inline-block;
  width: 1ch;
  text-align: center;
  letter-spacing: 0.05em;
}

.map-text {
  font-family: var(--font-game);
  font-size: 3vh;
  color: rgba(255, 255, 255);
  margin: 10px 2px;
  padding: 4px 8px;
  cursor: pointer;
  border: 0.5px grey solid;
  box-shadow: 2px 2px black;
  align-self: flex-start;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
}

.map-text:active {
  transform: translateY(2px);
  border-top: 2% inset #555;
  border-left: 2px inset #555;
  border-bottom: 2px inset #aaa;
  border-right: 2px inset #aaa;
  background-color: #e0e0e0;
}

.map-image {
  height: 50vh;
}
