.window-button {
  font-size: 1.5vh;
  color: black;
  border: 0.5px grey solid;
  box-shadow: 2px 2px black;
  margin: 1vh;
}

.window-submit {
  font-size: 1.5vh;
  cursor: pointer;
  border: 0.5px grey solid;
  box-shadow: 2px 2px black;
  margin: 10px 2px;
}

.window-button:active,
.window-submit:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 black;
}
