.lastScreen {
  background-image: url("../../assets/images/windows-xp-wallpaper.png"); /* 이미지 경로 교체 */
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.one_arts {
  width: 60%;
  margin-bottom: 2vh;
}
